:root{
    --bg1: #FF00FD;
    --bg2: #328EAB;
    --accent: #8B00FF;
}


html, body {
    margin: 0;
    min-height: 100vh;
    cursor: url("images/ice.cur"), auto;
}

body {
    cursor: url("images/ice.cur"), auto;
    font-family: Arial, sans-serif;
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;

    background:
            radial-gradient(circle at top,
            rgba(255, 170, 70, 0.35) 0%,
            transparent 40%),
            radial-gradient(circle at bottom right,
            rgba(0, 180, 255, 0.18) 0%,
            transparent 45%),
            linear-gradient(135deg,
            var(--bg1) 0%,
            var(--bg2) 55%,
            #1E6194 100%);

    background-attachment: fixed;
    color: white;
}


#chat {
    border: 4px solid #79C019;
    border-radius: 16px;
    padding: 20px;
    height: 400px;
    overflow-y: auto;


    background: rgba(30, 97, 148, 0.85);
    backdrop-filter: blur(8px);

    box-shadow: 0 0 25px rgba(0,0,0,.35);
}

input {
    width: calc(100% - 22px);
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

button {
    margin-top: 10px;
    padding: 12px 22px;
    border: none;
    border-radius: 10px;

    background: #4f00ff;
    color: white;

    cursor: url("images/ice.cur"), auto;
    transition: 0.2s;
}

button:hover {
    background: #7b45f5;
    transform: translateY(-5px);
}
h1 {
    color: #faff00;
    margin-top:  10px;
    padding: 12px 22px;
    border: #1E6194 12px;
}
p {
    color: #2fff00;
    width: auto;
}